<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{request_id}] %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 환경변수 LOG_LEVEL로 조절 (기본값 INFO) -->
    <logger name="org.example.gateway.day10" level="${env.LOG_LEVEL:-DEBUG}"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
